@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-blue-400 border-blue-400;
}
.process__content {
  @apply hidden;
}
.process__content-active {
  @apply block;
}

.nav.sticky {
  @apply fixed top-0 w-full shadow-sm;
  background-color: rgba(255,255,255,0.95);
  z-index: 100;
}
.section {
  transition: all .5s;
}
.section__hidden {
  @apply opacity-0 translate-y-32;
}

.transition {
  transition: all .3s ease;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}